/*************** Pazz Dashboard styling  *******************/

/* Global styling starts here */
:root{
    --primary-color: #1c164e;
    --secondry-color: #12d3ff;
}
*{
    margin: 0px;
    padding: 0px;
}
body, html{
    background: var(--primary-color) !important;
}
a{
    text-decoration: none;
}
ul li{
    text-decoration: none;
    list-style-type: none;
}
a:hover{
    text-decoration: none !important;
    color: white !important;
}
section{
    padding-top: 2%;
    padding-bottom: 2%;
    background: var(--primary-color) !important;
}
.primary-btn{
    background: var(--secondry-color);
    color: white;
    padding: 8px 25px;
    border-radius: 50px;
    font-weight: 700;
    margin: 0 auto;
    border: 3px solid var(--secondry-color);
}
.primary-btn:hover{
    background: transparent;
    color: var(--secondry-color);
    color: var(--secondry-color) !important;
}
.secondry-btn{
    background: var(--secondry-color);
    color: white;
    padding: 8px 25px;
    border-radius: 50px;
    font-weight: 700 !important;
    border: none;
}
.buy-btn{
    background: linear-gradient(to right, #12d3ff 0%, #0033cc5c 103%);
    color: white;
    border-radius: 50px;
    font-weight: normal !important;
    padding: 8px 70px;
    text-align: center;
    border: none;
}
.buy-btn:hover{
    background: linear-gradient(to right, #12d3ff 20%, #0033cc5c 100%)
}
.primary-txt{
    color: var(--secondry-color);
}
/* Global styling ends here */

/* navbar starts here */
.navbar{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

/* navbar ends here */


/* Reward section starts here */
.card{
    padding: 20px 10px;
    background: #06022d91 !important;
    text-align: center;
    margin: 0 auto;
    border: none;
    border-radius: 20px !important;
    box-shadow: 0px 1px 5px 2px var(--secondry-color);
    -webkit-box-shadow: 0px 1px 5px 2px var(--secondry-color);
    -moz-box-shadow: 0px 1px 5px 2px var(--secondry-color);
    color: white;

}
.card-body{
    background: var(--primary-color);
    color: white;
    padding: 0px 10px !important;
}
.card-icon{
    width: 80px;
    margin: 0 auto;
}
.card-content{
    font-size: 15px;
    font-weight: normal;
    color: white;
}
.card-heading{
    color: var(--secondry-color);
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* Reward section ends here */
.calculator-label{
    position: fixed;
    top: 50%;
    right: -55px;
    background: var(--secondry-color);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #fff;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    font-size: 16px;
    letter-spacing: 0;
    z-index: 1;
}

/* pop up modal starts here */
.modal {
    display: none;
    position: absolute !important;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 5% !important;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    
  }
  .modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45% !important;
    outline: 0;
    border-radius: 10px !important;
    margin: 0 auto !important;
    PADDING: 20px;
    font-size: 15px;
    background-color: #0a0625 !important;
    color: white;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  button:active{
      border: none !important;
  }
  .hide {
    display: none;
  }
/* pop up modal ends here */

/* footer starts here */
footer{
    background: linear-gradient(to right, #12d3ff 0%, #0033cc5c 103%);
    height: 100px;
}
/* footer ends here */



/* Media queries */

/* laptop screen */
@media only screen and (max-width: 1400px){
    .modal{
        top: 1% !important;
    }
    .modal-content{
        width: 60% !important;
    }
}
/* For tablet */
@media only screen and (max-width: 1150px){
    .card {
        width: 100% !important;
    }
    .secondry-btn{
        font-size: 12px;
        padding: 8px 11px;
    }
    .buy-btn{
        width: 100% !important;
    }
    .modal-content{
        width: 80% !important;
    }

}


/* for mobile */
@media only screen and (max-width: 600px){
    .modal-content{
        PADDING: 7px;
        font-size: 10px;
        width: 96% !important;
    }
    .secondry-btn{
        padding: 8px 13px;
        font-size: 9px;
    }
    .calculator-label{
        display: none;
    }
    .buy-btn{
        width: 100% !important;
    }
}