/*************** Pazz Dashboard styling  *******************/

/* Global styling starts here */

:root {
  --primary-color: #140d38;
  --secondry-color: #231d4f;
}

* {
  margin: 0px;
  padding: 0px;
}

body,
html {
  background: var(--primary-color) !important;
}

a {
  text-decoration: none;
  cursor: pointer !important;
  color: white !important;
}
a:hover {
  text-decoration: none !important;
  color: inherit;
}

button {
  cursor: pointer !important;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section {
  padding-top: 1%;
  padding-bottom: 1%;
  background: var(--primary-color) !important;
  height: auto;
}

.custom-container {
  width: 85%;
  margin: 0 auto;
}

.navbar {
  padding: 20px 0px !important;
}
.section-heading {
  font-size: 15px;
  color: #9793bd;
}
.color-white {
  color: #ffffff !important;
}
.is-disabled {
  cursor: not-allowed !important;
}
.hover-magnify:hover {
  transform: scale(1.2);
}
.highlight-txt {
  color: #12d3ff;
}

.btn-main {
  position: relative;
  width: 138px;
  height: 44px;
  overflow: hidden;
  transition: 0.5s;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  /* background: linear-gradient(to right, #12d3ff 0%, #0033cc5c 103%); */
  background: linear-gradient(
    90deg,
    rgba(60, 136, 236, 1) 31%,
    rgba(101, 50, 243, 1) 69%
  );
}

.btn-main button {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 2px;
  font-size: 14px;
  background: var(--secondry-color);
  margin: 2px;
  -webkit-mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png);
  mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png);
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}

.btn-main button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}

.mas {
  color: #fff;
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 14px;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
}

.bb-btn {
  background-image: linear-gradient(90deg, #6f7c8e, #6f7c8e);
}

.blue-btn button {
  background: #39475c;
}

.connectBtn button {
  -webkit-mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png);
  mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png);
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}

.connectBtn button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}

@-webkit-keyframes ani {
  0% {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  0% {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  0% {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  0% {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
/* Global styling ends here */

/* navbar */
#prepare {
  padding-top: 9%;
}
.nav-inner {
  width: 85%;
  margin: 0 auto;
  display: flex;
}
.metamask-btn {
  background-image: url(../img/metmask-icon.svg);
  background-color: var(--secondry-color);
  color: white;
  border: 2px solid #413c67;
  padding: 10px 20px 10px 42px;
  border-radius: 7px;
  height: 10px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: 8px;
  font-size: 17px;
}
.price-btn {
  background-image: url(../img/pazz-icon.svg);
  background-color: #231d4f;
  color: white;
  border: 2px solid #413c67;
  padding: 10px 20px 10px 42px;
  border-radius: 7px;
  height: 10px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: 8px;
  font-size: 17px;
}
.connect-btn {
  background: linear-gradient(
    90deg,
    rgba(109, 61, 249, 1) 7%,
    rgba(69, 115, 249, 1) 41%
  );
  color: white !important;
  border: 2px solid rgba(69, 115, 249, 1);
  padding: 10px 20px;
  border-radius: 7px;
  height: 10px;
  width: 20px;
  font-size: 17px;
}
.connect-btn img {
  vertical-align: middle;
}

/* your-stats-section */
.your-stat-card-1 {
  background: rgb(60, 136, 236);
  background: linear-gradient(
    90deg,
    rgba(60, 136, 236, 1) 31%,
    rgba(101, 50, 243, 1) 69%
  );
  border-radius: 10px;
  padding: 22px;
  width: 100%;
  height: 220px;
}

.buy-btn {
  background: #ffffff;
  border: 1.2px solid #ffffff;
  width: 100%;
  color: #201760 !important;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding: 9px;
  border-radius: 5px;
}

.your-stat-heading {
  color: #a9adf8;
  font-size: 26px;
  font-weight: inherit;
}

.your-stat-subheading {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

.your-stat-card-2 {
  background: rgb(59, 138, 236);
  background: linear-gradient(
    90deg,
    rgba(59, 138, 236, 1) 18%,
    rgba(102, 48, 243, 1) 55%
  );
  border-radius: 10px;
  padding: 22px;
  width: 100%;
  height: 220px;
}

.your-stat-card-2 .connect-wallet {
  /* background: transparent;
  border: 1.2px solid #FFFFFF;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px; */
  display: flex;
  justify-content: center;
  /* padding: 9px;
  border-radius: 5px; */
}

.stat-card {
  background: var(--secondry-color);
  padding: 22px 25px;
  width: 100%;
  border-radius: 10px;
}

.stat-card-heading {
  font-size: 22px;
  color: #918ea7;
}

.stat-card-subheading {
  font-size: 15px;
  color: #9793bd;
}

.card-connect-btn {
  position: absolute !important;
  right: 34px !important;
  top: 50% !important;
  transform: translate(0px, -50%) !important;
}

/* Feeless selling section */
.card-connect-btn-2 {
  color: white;
  border: 1px solid white;
  padding: 7px 14px;
  border-radius: 5px;
  background: transparent;
}

/* footer */
.footer-section {
  padding-bottom: 2%;
  height: auto;
  padding-top: 12%;
  position: relative;
}
.footer-logo {
  width: 45px;
}
.footer-txt {
  color: #7b7b7b;
  font-size: 12px;
}
.footer-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  width: 24px;
}
.fuzion-seal-logo{
  width: 129px;
  float: right;
}

/* connected screen starts here */
.re-invest-form input[type="number"] {
  padding: 9px !important;
  border: 1px solid #8687f4 !important;
  background: #3949b4;
  width: 371px;
}
.re-invest-form input[type="submit"] {
  padding: 9px 18px !important;
  border: 1px solid #f2f2f2 !important;
  background: transparent;
  margin-left: 20px;
  color: white;
}
.re-invest-form input:focus {
  color: white;
}
.input-txt {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0px, -50%);
  color: white;
}
.approve-form input[type="number"] {
  padding: 9px !important;
  border: 1px solid #3f3572 !important;
  background: #0c0726;
  width: 300px;
}
.approve-form input[type="submit"] {
  padding: 9px 18px !important;
  border: 1px solid #f2f2f2 !important;
  background: transparent;
  margin-left: 20px;
  color: white;
}
.approve-form input:focus {
  color: white;
}
#connected {
  padding-top: 9%;
}
.buy-btn-2{
  background: #ffffff;
  border: 1.2px solid #ffffff;
  width: 160px;
  color: #201760 !important;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding: 9px;
  border-radius: 5px;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translate(0%, -50%);
}
/* pop up modal starts here */

.modal.show {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.modal-content {
  border-radius: 10px !important;
  margin: 0 auto !important;
  padding: 20px;
  font-size: 15px;
  color: white;
  background-color: #161c3b !important;
  width: 100%;
}

.modal-dialog {
  width: 54% !important;
}

.confirmBtn {
  position: relative;
  height: 43px;
  overflow: hidden;
  transition: 0.5s;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  background: linear-gradient(to right, #12d3ff 0%, #921cff 103%) !important;
  border: none;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  cursor: pointer !important;
}
#confirmBtn {
  position: relative;
  height: 43px;
  overflow: hidden;
  transition: 0.5s;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  cursor: not-allowed;
  color: white;
  background-image: linear-gradient(90deg, #6e6e6e, #dbdbdb);
}
.is-disabled {
  cursor: not-allowed !important;
}
.close {
  opacity: none !important;
}

/* pop up modal ends here */

/* Account modal starts here */

.account-modal {
  display: none;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #241b6185;
  position: fixed;
}

.account-modal-content {
  background-color: #231d4f;
  margin: auto;
  padding: 20px;
  width: 31%;
  border-radius: 8px;
  margin-top: 8%;
  position: relative;
}

.account-modal-content h5 {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.account-modal-content p {
  color: white;
  font-weight: bold;
}

.account-modal-close {
  color: white !important;
  float: right;
  font-size: 28px !important;
  position: absolute;
  top: 16px;
  right: 10;
  right: 15px;
  opacity: 1 !important;
}

.copiedTxt {
  color: white;
  border: none;
  width: 0.1px;
  position: absolute;
  top: 0;
  z-index: -10000000;
}

.copyBtn {
  margin-right: 13px;
  font-size: 13px;
  border: 2px solid rgb(255 255 255);
  padding: 6px 42px;
  font-weight: 500;
  border-radius: 10px;
  color: white;
  background: transparent;
}

.bscscan-link {
  color: #09e2ff !important;
  font-size: 15px;
}

.accountModal-inner {
  background: #140d38;
  padding: 14px 10px;
  border-radius: 10px;
  margin-top: 25px;
}

.btn-disconnect {
  position: absolute;
  top: 50%;
  right: 19px;
  transform: translate(0px, -50%);
}

/* Account model ends here */

/* web3.js modal style */
.bfIkEQ {
  background-color: #231d4f !important;
  max-width: 664px !important;
  border-radius: 10px !important;
}

.xPSun {
  background-color: #231d4f !important;
  padding: 12px 6px !important;
}

.kaSVED {
  border: none !important;
}

.hBmmHr {
  color: rgb(160 160 181) !important;
  font-size: 17px !important;
}

.ceSpQQ {
  font-size: 15px !important;
}
/* Network error */

#networkError {
  background: #1c164e;
  height: 100vh;
  position: relative;
}

.warning-heading {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.warning-block {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.warning-subheading {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.warning-icon {
  margin-top: -7px;
  width: 25px;
}

/* Media queries */

/* For larger screens */
@media screen and (min-width: 1500px) {
  .modal-dialog {
    width: 700px !important;
  }
}

/* For tablet */

@media only screen and (max-width: 1150px) {
  .modal-content {
    width: 100% !important;
  }
  .modal-dialog {
    width: 68% !important;
  }
}

/* for mobile */

@media only screen and (max-width: 600px) {
  .modal-content {
    padding: 7px;
    font-size: 10px;
    width: 96% !important;
  }
  .account-modal-content {
    width: 95%;
  }
  .account-modal-content p {
    font-size: 12px;
  }
  .warning-heading {
    font-size: 17px;
  }
  .modal-dialog {
    width: 100% !important;
  }
  .connect-btn {
    display: flex;
    width: 100%;
    height: 48px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 96% !important;
  }
}
