/*************** Pazz Dashboard styling  *******************/

/* Global styling starts here */

:root {
  --primary-color: #140d38;
  --secondry-color: #231d4f;
}

* {
  margin: 0px;
  padding: 0px;
}

body,
html {
  background: var(--primary-color) !important;
}

a {
  text-decoration: none;
  cursor: pointer !important;
  color: white !important;
}
a:hover {
  text-decoration: none !important;
  color: inherit;
}

button {
  cursor: pointer !important;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section {
  padding-top: 1%;
  padding-bottom: 1%;
  background: var(--primary-color) !important;
  height: auto;
}

.custom-container {
  width: 85%;
  margin: 0 auto;
}

.navbar {
  padding: 20px 0px !important;
}
.navbar .nav-item {
  margin-top: 12px;
}
.fixed-top {
  right: 7.5% !important;
  left: 7.5% !important;
}
.section-heading {
  font-size: 15px;
  color: #9793bd;
}
.color-white {
  color: #ffffff !important;
}
.is-disabled {
  cursor: not-allowed !important;
}
.hover-magnify:hover {
  transform: scale(1.2);
}
.highlight-txt {
  color: #12d3ff;
}

.btn-main {
  position: relative;
  width: 138px;
  height: 44px;
  overflow: hidden;
  transition: 0.5s;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  /* background: linear-gradient(to right, #12d3ff 0%, #0033cc5c 103%); */
  background: linear-gradient(90deg, rgba(60, 136, 236, 1) 31%, rgba(101, 50, 243, 1) 69%);
}

.Dropdown-menu {
  overflow: hidden !important;
}

.Dropdown-option {
  box-sizing: border-box;
  color: white !important ;
  cursor: pointer;
  display: block;
  background-color: #0c0726;
  padding: 8px 40px !important;
}

.Dropdown-option.is-selected {
  background-color: #0c0726 !important;
  color: white !important ;
  padding: 8px 40px;
}
.pazz-app-dropdown-menu {
  width: 25vw;
  padding: 8px 40px;
}
.Dropdown-option:hover {
  background-color: #0c0726 !important;
  color: white !important ;
}

.Dropdown-control {
  background-color: #0c0726 !important;
  color: white !important ;
}

.Dropdown.menu {
  padding: 8px 40px;
}

.btn-main button {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 2px;
  font-size: 14px;
  background: var(--secondry-color);
  margin: 2px;
  -webkit-mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png);
  mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png);
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}

.btn-main button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}

.mas {
  color: #fff;
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 14px;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
}

.add-liquidity-amount {
  background-color: #3052aa;
  color: white;
  padding: 9px !important;
  border: 0px;
  width: 300px;
  height: 40px;
}

.add-liquidity-amount::placeholder {
  color: white;
}

.bb-btn {
  background-image: linear-gradient(90deg, #6f7c8e, #6f7c8e);
}

.blue-btn button {
  background: #39475c;
}

.connectBtn button {
  -webkit-mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png);
  mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png);
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}

.connectBtn button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}

@-webkit-keyframes ani {
  0% {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  0% {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  0% {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  0% {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
/* Global styling ends here */

/* navbar */
#prepare {
  padding-top: 9%;
}
.metamask-btn {
  background-image: url(./images/metmask-icon.svg);
  background-color: var(--secondry-color);
  color: white;
  border: 2px solid #413c67;
  padding: 10px 20px 10px 42px;
  border-radius: 7px;
  height: 10px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: 8px;
  font-size: 17px;
}
.price-btn {
  background-image: url(./images/pazzive-icon.svg);
  background-color: #231d4f;
  color: white;
  border: 2px solid #413c67;
  padding: 10px 20px 10px 42px;
  border-radius: 7px;
  height: 10px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: 8px;
  font-size: 17px;
}
.connect-btn {
  background: linear-gradient(90deg, rgba(109, 61, 249, 1) 7%, rgba(69, 115, 249, 1) 41%);
  color: white !important;
  border: 2px solid rgba(69, 115, 249, 1);
  padding: 10px 20px;
  border-radius: 7px;
  height: 10px;
  width: 20px;
  font-size: 17px;
}
.connect-btn img {
  vertical-align: middle;
}

/* your-stats-section */
.your-stat-card-1 {
  background: rgb(60, 136, 236);
  background: linear-gradient(90deg, rgba(60, 136, 236, 1) 31%, rgba(101, 50, 243, 1) 69%);
  border-radius: 10px;
  padding: 22px;
  width: 100%;
  height: auto;
}

.liquidity-approve-btn {
  background: rgb(60, 136, 236);
  background: linear-gradient(90deg, rgba(60, 136, 236, 1) 31%, rgba(101, 50, 243, 1) 69%);
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  width: 18vw;
  border: 1px solid rgb(60, 136, 236);
}
.be-aware-txt {
  color: yellow;
  text-align: center;
  margin-top: 9px;
}

.tesla-safe-dropdown-icon {
  background-image: url('./images/TS-icon.svg') !important;
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 23px;
}
.rice-dropdown-icon {
  background-image: url('./images/Rice-icon.svg') !important;
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 25px;
}
.paz-dropdown-icon {
  background-image: url('./images/pazzive-icon.svg') !important;
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 25px;
}
.bnb-dropdown-icon {
  background-image: url('./images/bnb-icon.svg') !important;
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 25px;
}
.busd-dropdown-icon {
  background-image: url('./images/busd-icon.svg') !important;
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 25px;
}

.insufficient-balance-btn {
  background: transparent;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  border: 1px solid rgb(60, 136, 236);
  width: 18vw;
}

.pending-section-prepare-screen:disabled {
  pointer-events: none;
  opacity: 0.4;
}

.buy-btn {
  background: #ffffff;
  border: 1.2px solid #ffffff;
  width: 100%;
  color: #201760 !important;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding: 9px;
  border-radius: 5px;
}

.your-stat-heading {
  color: #a9adf8;
  font-size: 26px;
  font-weight: inherit;
}

.your-stat-subheading {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

.your-stat-card-2 {
  background: rgb(59, 138, 236);
  background: linear-gradient(90deg, rgba(59, 138, 236, 1) 18%, rgba(102, 48, 243, 1) 55%);
  border-radius: 10px;
  padding: 22px;
  width: 100%;
  height: auto;
}

.stake-duration-section {
  padding: 0 10px;
}

.stats-pending-busd-rewards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.your-stat-card-2 .connect-wallet {
  /* background: transparent;
    border: 1.2px solid #FFFFFF;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px; */
  display: flex;
  justify-content: center;
  /* padding: 9px;
    border-radius: 5px; */
}

.stat-card {
  background: var(--secondry-color);
  padding: 22px 25px;
  width: 100%;
  border-radius: 10px;
}

.your-stat-card {
  background-color: #231d4f;
  padding: 22px 25px;
  width: 100%;
  border-radius: 10px;
}

.pending-BUSD-part {
  background: var(--secondry-color);
  padding: 10px 25px;
  width: 100%;
  border-radius: 10px;
  height: 134px;
  border-radius: 10px 10px 0 0;
}
.reinvest-reward {
  background: var(--secondry-color);
  padding: 10px 25px;
  width: 100%;
  height: 134px;
  border-radius: 0 0 10px 10px;
}
.reinvest-label {
  color: #9793bd;
  font-size: 15px;
  display: flex;
  justify-content: center;
}
.liquidity-subheading {
  font-size: 5px;
}
.sell-tax {
  background: var(--secondry-color);
  padding: 10px 20px;
  width: 84vw;
  border-radius: 10px;
  margin: 0 auto;
}
.slippage-count {
  color: red !important;
}
.sell-tax-percentage {
  color: #9793bd;
  text-align: center;
}
.lock-stat-card {
  background: var(--secondry-color);
  padding: 10px 25px;
  width: 100%;
  border-radius: 10px;
  height: 134px;
  color: #ffffff;
}
.lock-stat-card p {
  padding-top: 25px;
}
.reinvest-duration {
  background: var(--secondry-color);
  padding: 10px 25px;
  width: 100%;
  border-radius: 10px;
  height: 115px;
}

.approve-form-select {
  background: #0c0726 !important;
  border: 1px solid #3f3572 !important;
  height: 45px !important;
  width: 340px !important;
  color: white !important;
}
.claim-btn {
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  background: transparent;
  width: fit-content;
  border-radius: 6px;
  height: 45px;
}
/* Dropdown select starts here */
.ms-dd .ms-dd-header {
  border: 1px solid #3f3572 !important;
}
.ms-dd {
  background: none !important;
  width: 322px !important;
}
.ms-dd .ms-options {
  background: #0c0726 !important;
  border: none !important;
  box-shadow: none !important;
}
.ms-dd .ms-list-option.option-selected,
.ms-dd .ms-optgroup ul .ms-list-option.option-selected {
  background: #0c0726 !important;
  border: 1px solid #3f3572 !important;
}
.ms-dd .ms-list-option {
  border-bottom: none !important;
  border: 1px solid #3f3572 !important;
}
.ms-dd .ms-dd-arrow.ms-dd-pointer-down {
  border-top-color: #9e9e9e !important;
}
.ms-dd .ms-dd-arrow.ms-dd-pointer-up {
  border-bottom-color: #9e9e9e !important;
}
.ms-dd .ms-middle {
  color: #9793bd !important;
}
.ms-dd .ms-dd-option-image {
  width: 23px !important;
  height: 21px !important;
}
.ms-dd .ms-list-option:hover {
  background: #0c0726 !important;
  color: #9793bd !important;
}
/* Dropdown select ends here */

.approve-form-label {
  color: #9793bd;
  font-size: 15px;
}
.stat-card-heading {
  font-size: 22px;
  color: #918ea7;
}

.stat-card-subheading {
  font-size: 15px;
  color: #9793bd;
}
.pending-BUSD-label {
  color: #9793bd;
  font-size: 15px;
}
.card-connect-btn {
  position: absolute !important;
  right: 34px !important;
  top: 50% !important;
  transform: translate(0px, -50%) !important;
}

/* Feeless selling section */
.card-connect-btn-2 {
  color: white;
  border: 1px solid white;
  padding: 7px 14px;
  border-radius: 5px;
  background: transparent;
}

/* footer */
.footer-section {
  padding-bottom: 2%;
  height: auto;
  padding-top: 12%;
  position: relative;
}
.footer-logo {
  width: 45px;
}
.footer-txt {
  color: #7b7b7b;
  font-size: 12px;
}
.footer-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  width: 24px;
}
.fuzion-seal-logo {
  width: 129px;
  float: right;
}

/* connected screen starts here */
.re-invest-form input[type='number'] {
  padding: 9px !important;
  border: 1px solid #8687f4 !important;
  background: #3949b4;
  width: 371px;
}
.re-invest-form input[type='submit'] {
  padding: 9px 18px !important;
  border: 1px solid #f2f2f2 !important;
  background: transparent;
  margin-left: 20px;
  color: white;
}
.re-invest-form input:focus {
  color: white;
}
.input-txt {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0px, -50%);
  color: white;
}

.approve-form {
  justify-content: space-between;
}
.approve-form input[type='number'] {
  padding: 9px !important;
  border: 2px solid #3f3572 !important;
  background: #0c0726;
  width: inherit;
  height: 47px;
  color: #adadad;
}
.approve-form input[type='submit'] {
  padding: 9px 18px !important;
  border: 1px solid #f2f2f2 !important;
  background: transparent;
  color: white;
}
.approve-form input:focus {
  color: white;
}
#connected {
  padding-top: 9%;
}
.buy-btn-2 {
  background: #ffffff;
  border: 1.2px solid #ffffff;
  width: 160px;
  color: #201760 !important;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding: 9px;
  border-radius: 5px;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translate(0%, -50%);
}
/* pop up modal starts here */

.modal.show {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.modal-content {
  border-radius: 10px !important;
  margin: 0 auto !important;
  padding: 20px;
  font-size: 15px;
  color: white;
  background-color: #161c3b !important;
  width: 100%;
}

.modal-dialog {
  width: 54% !important;
}

.confirmBtn {
  position: relative;
  height: 43px;
  overflow: hidden;
  transition: 0.5s;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  background: linear-gradient(to right, #12d3ff 0%, #921cff 103%) !important;
  border: none;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  cursor: pointer !important;
}
#confirmBtn {
  position: relative;
  height: 43px;
  overflow: hidden;
  transition: 0.5s;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  cursor: not-allowed;
  color: white;
  background-image: linear-gradient(90deg, #6e6e6e, #dbdbdb);
}
.is-disabled {
  cursor: not-allowed !important;
}
.close {
  opacity: none !important;
}

/* pop up modal ends here */

/* Account modal starts here */

.account-modal {
  display: none;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #241b6185;
  position: fixed;
}

.account-modal-content {
  background-color: #231d4f;
  margin: auto;
  padding: 20px;
  width: 31%;
  border-radius: 8px;
  margin-top: 8%;
  position: relative;
}

.account-modal-content h5 {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}
.liquidity-subheading {
  font-size: 15px;
}

.account-modal-content p {
  color: white;
  font-weight: bold;
}

.account-modal-close {
  color: white !important;
  float: right;
  font-size: 28px !important;
  position: absolute;
  top: 16px;
  right: 10;
  right: 15px;
  opacity: 1 !important;
}

.copiedTxt {
  color: white;
  border: none;
  width: 0.1px;
  position: absolute;
  top: 0;
  z-index: -10000000;
}

.copyBtn {
  margin-right: 13px;
  font-size: 13px;
  border: 2px solid rgb(255 255 255);
  padding: 6px 42px;
  font-weight: 500;
  border-radius: 10px;
  color: white;
  background: transparent;
}

.bscscan-link {
  color: #09e2ff !important;
  font-size: 15px;
}

.accountModal-inner {
  background: #140d38;
  padding: 14px 10px;
  border-radius: 10px;
  margin-top: 25px;
}

.btn-disconnect {
  position: absolute;
  top: 50%;
  right: 19px;
  transform: translate(0px, -50%);
}

/* Account model ends here */

/* web3.js modal style */
.gqCcJZ {
  display: block !important;
  background-color: #161a59 !important;
  max-width: 664px !important;
  border-radius: 10px !important;
  width: 30% !important;
  min-width: inherit !important;
  padding: 15px 0px 0px 0px !important;
  padding: 15px 0px 15px 0px !important;
}
.kUlmzi {
  background-color: #142e6d !important;
  padding: 12px 6px !important;
  width: 80% !important;
}
.NRXfv {
  color: white !important;
}
.hBmmHr {
  color: rgb(160 160 181) !important;
  font-size: 17px !important;
}
.ceSpQQ {
  font-size: 15px !important;
}
.kaSVED {
  border: none !important;
}
.withdraw-block {
  position: absolute;
  top: 5px;
  right: 4px;
  color: white;
  text-align: center;
}
.withdraw-btn {
  background-color: #ffffff;
  border: 1px solid white;
  padding: 8px 25px;
  color: black;
  font-size: 18px;
  border-radius: 7px;
  cursor: pointer;
}
.withdraw-btn[disabled] {
  cursor: not-allowed;
}
.withdraw-btn:hover {
  color: black !important;
}
.web3modal-provider-wrapper:nth-child(3) {
  display: none !important;
}
/* Network error */

#networkError {
  background: #1c164e;
  height: 100vh;
  position: relative;
}

.warning-heading {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.warning-block {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.warning-subheading {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.warning-icon {
  margin-top: -7px;
  width: 25px;
}

/* Media queries */

/* For larger screens */
@media screen and (min-width: 1500px) {
  .modal-dialog {
    width: 700px !important;
  }
}

/* For tablet */

@media only screen and (max-width: 1300px) {
  .custom-container {
    width: 95%;
  }
}

@media only screen and (max-width: 1150px) {
  .modal-content {
    width: 100% !important;
  }
  .modal-dialog {
    width: 68% !important;
  }
  .custom-container {
    width: 94%;
  }
  .fixed-top {
    right: 3% !important;
    left: 3% !important;
  }
  .liquidity-subheading {
    font-size: 12px;
  }
  .stat-card-heading {
    font-size: 17px;
    font-weight: 600;
  }
  .account-modal-content {
    width: 62%;
  }
  .pazzive-drop-down-menu {
    width: -webkit-fill-available !important;
  }
  .liquidity-approve-btn {
    width: auto;
  }
  .insufficient-balance-btn {
    width: auto;
  }
  .approve-form input[type='number'] {
    width: -webkit-fill-available;
  }
  .approve-form input[type='submit'] {
    margin-left: 10px;
  }
  .ms-dd .ms-options {
    width: 65%;
  }
  .ms-dd .ms-dd-header {
    width: 65%;
  }
  .pazz-app-dropdown-menu {
    padding: unset;
  }
  .ms-dd {
    width: 243px !important;
  }
  .reinvest-label {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .bfIkEQ {
    width: 50% !important;
  }
  .pending-BUSD-part {
    height: auto;
  }
  .pending-BUSD-label {
    padding-top: 10px;
    padding-right: 13px;
  }
  .reinvest-part {
    border: none;
    display: flex;
    justify-content: center;
  }
  .your-stat-section {
    padding-top: 7%;
  }
  .pending-BUSD-part .col-md-12 {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .dropdown-select-form {
    width: auto;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 935px) {
  .modal-dialog {
    width: 95% !important;
  }
  .claim-btn {
    width: 125px;
  }
  .your-stat-card {
    padding: 32px 25px;
  }
}

@media only screen and (max-width: 900px) {
  .add-liquidity-tax-free-section {
    flex: 0 0 100%;
    max-width: unset;
  }
}

/* for mobile */

@media only screen and (max-width: 770px) {
  .navbar .navbar-nav .ml-2 {
    margin-left: 0px !important;
  }
  .price-btn {
    display: flex;
    width: 100%;
    height: 49px;
  }
  .connectBtn {
    margin-top: 0px !important;
    width: 100%;
    height: 49px;
  }

  .claim-btn {
    width: 36vw;
  }
  .metamask-btn {
    display: flex;
    width: 100%;
    height: 49px;
  }
  .pazz-app-dropdown-menu {
    width: -webkit-fill-available;
  }
  .pazzive-drop-down-menu {
    width: -webkit-fill-available !important;
  }
  .modal-content {
    padding: 7px;
    font-size: 10px;
    width: 96% !important;
  }
  .account-modal-content {
    width: 95%;
  }
  .account-modal-content p {
    font-size: 12px;
  }
  .warning-heading {
    font-size: 17px;
  }
  .modal-dialog {
    width: 100% !important;
  }
  .connect-btn {
    display: flex;
    width: 100%;
    height: 48px;
  }
  .your-stat-section {
    padding-top: 17%;
  }
  .stat-card-heading {
    font-size: 19px;
  }
  .your-stat-heading {
    font-size: 20px;
    font-weight: 500;
  }
  .card-connect-btn {
    position: absolute !important;
    right: 25px !important;
    top: 50% !important;
    transform: translate(0px, -50%) !important;
  }
  .section-heading {
    padding-top: 10px;
  }
  .fuzion-seal-logo {
    width: 120px;
    float: none;
    display: flex;
    margin: 0 auto;
  }
  .footer-section {
    padding-bottom: 10%;
  }
  .footer-txt {
    text-align: center;
  }
  .footer-section ul {
    display: flex;
    justify-content: center;
  }
  .footer-logo {
    display: flex;
    margin: 0 auto;
  }
  .btn-main {
    font-size: 10px;
    height: 39px;
  }
  .fixed-top {
    right: 1% !important;
    left: 1% !important;
  }
  .buy-btn-2 {
    margin-top: 8px;
    display: flex;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
  }
  .approve-form input[type='submit'] {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
    height: 44px;
    font-size: 13px;
  }
  .approve-form input[type='number'] {
    width: 100%;
    margin-left: 0px !important;
    height: 47px;
    margin-top: 10px;
    color: #adadad;
  }
  .bscscan-link {
    font-size: 12px;
  }
  .input-txt {
    top: 58%;
  }
  .bfIkEQ {
    width: 85% !important;
  }
  .reinvest-reward {
    height: auto;
    padding-bottom: 15px !important;
  }
  .pending-BUSD-label {
    padding-top: 0px;
    padding-right: 0px;
    font-size: 14px;
    position: absolute;
    top: -21px;
  }
  .ms-dd {
    margin-top: 12px;
    width: 100% !important;
    font-size: 12px;
  }
  .lock-stat-card {
    margin-top: 13px;
  }
  .ms-dd .ms-dd-header {
    font-size: 12px;
  }
  .ms-dd .ms-middle {
    font-size: 12px;
  }
  .reinvest-duration {
    height: auto;
  }
  .claim-btn {
    border: 1px solid white;
    padding: 0px 20px;
    color: white;
    background: transparent;

    font-size: 13px;
    border-radius: 6px;
  }
  .connect-claim-reward-button {
    left: auto;
  }
}

@media only screen and (max-width: 667px) {
  .approve-form input[type='submit'] {
    margin-left: 0px;
    width: 100%;
  }
  .card-connect-btn {
    display: none;
  }
  .your-stat-card-first .media,
  .your-stat-card-2 .media {
    height: 150px;
  }
  .stat-card {
    display: block !important;
  }
  .pazz-app-dropdown-menu {
    padding: unset;
  }
  .stake-duration-section {
    width: -webkit-fill-available;
    padding: unset;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 96% !important;
  }
}

@media (max-width: 476px) {
  .stats-pending-busd-rewards {
    display: flex;
    flex-direction: column !important;
  }
  .claim-btn {
    width: 60vw;
  }
}
